// Default variables
html {
  --base-font-size: 20px;
}

// Data engineer purple color theme
body {
  --lime: #ccf381;
  --electric-blue: #5b21b6;
  --bg-color: #f8f5ff;
  --bg-content-color: #f8f5ff;
  --bg-code: #f3eeff;
  --body-color: #3d2b58;
  --title-color: #1a0533;
  --link-color: #5b21b6;
  --border-color: #e2d4f7;
  --space: 3.5rem;
  --content-width: 940px;
  --header-height: 80px;
  --radius: 5px;
}

// Make  things smaller for mobile
@media (max-width: 650px) {
  html {
    --base-font-size: 17px;
  }
  body {
    --space: 1.5rem;
    --header-height: 60px;
  }
}
